body{
  box-sizing: border-box;
  background: rgb(82, 11, 11);
  color: aliceblue;
}
h1{
  font-size: 14px;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Courier New', Courier, monospace;
}
.tododiv{
  border: solid black 2px;
  width: 36%;
}
.TodoApp{
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.addtodo{
  margin-left: 2px;
}
ul{
  width: 70%;
}
ul li{
  border: solid 1px wheat;
  text-align: center;
  margin: 5px;
}
ul li button{
  margin: 1px;
  margin-left: 25px;
}
.Input1{
  margin-top: 10px;
  margin-left: 15px;
}
.Input2{
  margin-top: 10px;
  margin-left: 4px;
}

.inputtodo{
  width: 95%;
  margin-right: 40px;
}
.props{
  border: 1px  black solid;
}
.parent{
  display: flex;
  height: 39vh;
  gap: 10px;
  text-align: center;
  font-size: 10px;
  background-color: green ;
}